<div class="dashboard-content-wrapper d-flex flex-column flex-fill" style="height: 100%;">
  <div class="container-fluid flex-fill mt-1">
    <div class="row">
        <div class="col-12">
          <app-store-transaction></app-store-transaction>
        </div>
    </div>
    <div class="row">
      <div class="col-6">
        <app-latest-updates></app-latest-updates>
      </div>
      <div class="col-6">
        <app-top-selling-item></app-top-selling-item>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-store-transaction></app-store-transaction>
      </div>
    </div>
  </div>
</div>
