<div class="wrapper p-3 neomorph-bg   d-flex flex-column  mt-2 mb-2" style="height: 14vh;" style="border-radius: 15px;">
    <div class="row ">
      <div class="col-md-6 text-right text-danger">
        <h4>Sub-Total</h4>
      </div>
      <div class="col-md-6 text-center text-muted">
        <h5>$240</h5>
      </div>
    </div>
      <div class="row ">
        <div class="col-md-6 text-right text-danger">
          <h4>Total Discount</h4>
        </div>
        <div class="col-md-6 text-center text-muted">
          <h5>$15</h5>
        </div>
      </div>
        <div class="row ">
          <div class="col-md-6 text-right text-success">
            <h4>Total</h4>
          </div>
          <div class="col-md-6 text-center text-muted">
            <h5>$225</h5>
          </div>
        </div>
</div>
