<div class="content-wrapper  " style="max-height: 65vh; height: 65vh;  overflow-y:auto; background-color: transparent;">
  <div class="table-responsive">
    <table class="table  text-center table-borderless table-hover">
      <thead class=" position-sticky">
        <tr>
          <th>#</th>
          <th>Item</th>
          <th>Qnty</th>
          <th>Unit Price</th>
          <th>Total Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let saleTrans of mockData; let i  = index">
          <td scope="row">
            {{i + 1}}
          </td>
          <td scope="">
            {{saleTrans.itemName}}
          </td>
          <td>
            {{saleTrans.qnty | number}}
          </td>
          <td>
            {{saleTrans.uPrice | currency}}
          </td>
          <td>
            {{saleTrans.totalPrice | currency}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
